.button {
    padding: 1.7rem 3.2rem;
    background-color: rgba(237, 76, 92, 1);
    border: 1px solid rgba(237, 76, 92, 1);
    border-radius: 6px;

    color: rgba(255, 255, 255, 1);
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
