.contact {
    padding: 12rem 2.4rem 8rem 2.4rem;
    display: grid;

    @media only screen and (min-width: 992px) {
        padding: 12rem 12rem 8rem 12rem;
    }

    & .container {
        display: flex;
        flex-direction: column;
        gap: 6.4rem;

        @media only screen and (min-width: 992px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12rem;
        }
    }
}

.contact__description-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
