.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.next-image__wrapper {
    position: relative;
    overflow: hidden;
}

.next-image__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
